@use 'constants' as *;
@use 'project' as p;

.container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
}

.projectsContainer {
	max-width: 52.75rem;
	margin-left: 1.25rem;
	flex: 1 0 0;
	overflow: hidden;
}

.projectCards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.25rem;
}

.projectListingSkeleton {
	@include p.container;
	display: flex;
	flex-flow: row nowrap;
	min-height: 7.85rem;
	pointer-events: none;
	background: none;
	& + & {
		margin-top: 1.25rem;
	}
	> * {
		background-color: rgb(var(--primary-700));
	}
}

.projectCardSkeleton {
	@include p.container;
	position: relative;
	overflow: hidden;
	min-height: 18rem;
	pointer-events: none;
	background: none;
	> * {
		background-color: rgb(var(--primary-700));
	}
}

.noProjectsFound {
	color: rgb(var(--primary));
	font-weight: 400;
	font-size: 1.125rem;
	text-align: center;
}

.verifiedContainer {
	padding: 1.75rem 2.75rem;
	border-radius: 1rem;
	overflow: hidden;
}

.verifiedContent {
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	.text {
		@include text;
	}
	.primaryButton {
		@include primaryButton;
		margin-top: 1.75rem;
	}
}

.verifiedIcon {
	$size: 2.625rem;
	$svgSize: 1.25rem;
	width: $size;
	height: $size;
	border-radius: 50%;
	margin-bottom: $size;
	background-color: #75e49f;
	display: flex;
	justify-content: center;
	align-items: center;
	svg {
		width: $svgSize;
		height: $svgSize;
		path {
			fill: rgb(var(--background));
		}
	}
}

@media screen and (max-width: 1000px) {
	.projectsContainer {
		max-width: 37.25rem;
	}
	.projectCards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 840px) {
	.container {
		flex-flow: column nowrap;
	}
	.projectsContainer {
		margin-left: 0;
		margin-top: 1.5rem;
		max-width: none;
		width: 100%;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 740px) {
	.projectsContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 520px) {
	.projectsContainer {
		grid-template-columns: 1fr;
	}
}
