.container {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
}

.projectsContainer {
	flex: 1 0 0;
	overflow: hidden;
}

.projectCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}
