@use 'constants' as *;

.header {
	display: flex;
	flex-flow: row nowrap;
}

.image {
	grid-area: image;
	width: 4rem;
	min-width: 4rem;
	height: 4rem;
	border-radius: 50%;
	margin-right: 1.25rem;
	position: relative;
	overflow: hidden;
}

.headerContent {
	flex: 1 0 0;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: repeat(4, auto);
	grid-auto-flow: row;
	grid-template-areas:
		'title price'
		'author author'
		'tags tags'
		'actions actions';
}

.title {
	grid-area: title;
	display: flex;
	flex-flow: row nowrap;
}
.name {
	font-weight: 500;
	font-size: 1.75rem;
	padding-right: 1.5rem;
	letter-spacing: 0.02rem;
}
.symbol {
	flex-shrink: 0;
	max-width: 7.5rem;
	height: 1.875rem;
	background-color: rgb(var(--primary-500));
	padding: 0 0.625rem;
	border-radius: 0.375rem;
	position: relative;
	top: 0.375rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.symbolText {
	font-weight: 400;
	font-size: 1.25rem;
	color: rgb(var(--primary-400));
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.priceContainer {
	grid-area: price;
	margin-left: 4rem;
	display: flex;
	align-items: center;
}
.price {
	font-weight: 500;
	font-size: 1.625rem;
	small {
		margin-left: 0.5rem;
		font-weight: 400;
		font-size: 1rem;
		color: rgb(var(--primary-400));
	}
}

.author {
	grid-area: author;
	margin-top: 0.75rem;
	display: flex;
	flex-flow: row nowrap;
}
.authorImage {
	width: 1.5rem;
	min-width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	margin-right: 0.5rem;
	position: relative;
	overflow: hidden;
}
.authorName {
	font-weight: 400;
	font-size: 1rem;
	color: rgb(var(--primary-400));
	position: relative;
	top: -0.063rem;
}
.authorNameSkeleton {
	@extend .authorName;
	width: 100%;
	max-width: 11.25rem;
	height: 1.375rem;
	border-radius: 0.25rem;
	position: relative;
	top: 0.0625rem;
}

.tagsContainer {
	grid-area: tags;
	margin-top: 1.25rem;
	display: flex;
	flex-flow: row wrap;
	gap: 0.375rem;
}
.tag {
	height: 1.375rem;
	padding: 0 0.5rem;
	color: rgb(var(--primary-100));
	background-color: rgb(var(--primary-700));
	border-radius: 100vmax;
	font-weight: 400;
	font-size: 0.875rem;
	display: inline-flex;
	align-items: center;
}

.overviewActions {
	grid-area: actions;
	margin-top: 2rem;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	gap: 1rem;
}
.overviewActionButtons {
	height: 2.375rem;
	background-color: rgb(var(--primary-700));
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.16s;
	&:hover {
		background-color: rgb(var(--primary-600));
	}
}
.likes {
	padding: 0 0.875rem;
	font-weight: 500;
	font-size: 1rem;
	svg {
		width: 1.125rem;
		height: 1.125rem;
		margin-right: 0.75rem;
		path {
			fill: rgb(var(--primary));
		}
		path:global(#fill) {
			fill: transparent;
			transition: all 0.24s;
		}
	}
	&.active svg path:global(#fill) {
		fill: rgb(var(--primary));
	}
}
.overviewIconButton {
	width: 2.375rem;
	svg {
		width: 1rem;
		height: 1rem;
		path {
			fill: rgb(var(--primary));
		}
	}
}
.investButton {
	margin-left: auto;
	min-width: 5rem;
	height: 2.75rem;
	border-radius: 0.5rem;
	padding: 0 2rem;
	font-weight: 400;
	font-size: 1rem;
	cursor: pointer;
	background: rgb(var(--purple-accent));
	-webkit-box-shadow: 0 0 2rem -0.438rem rgba(var(--purple-accent-300), 0.8);
	box-shadow: 0 0 2rem -0.438rem rgba(var(--purple-accent-300), 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: box-shadow 0.16s;
	&:hover {
		-webkit-box-shadow: 0 0 2rem -0.125rem rgba(var(--purple-accent-300), 0.8);
		box-shadow: 0 0 2rem -0.125rem rgba(var(--purple-accent-300), 0.8);
	}
}

.details {
	margin-top: 4rem;
	display: flex;
	flex-flow: row wrap;
	gap: 1.5rem 5.25rem;
}
.datum {
	padding: 0.125rem 0;
	min-width: 5rem;
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	& + &::after {
		content: '';
		width: 0.063rem;
		height: 100%;
		position: absolute;
		top: 0;
		left: -2.625rem;
		background-color: rgb(var(--primary-600));
	}
}
.datumTitle {
	font-weight: 400;
	font-size: 0.875rem;
	color: rgb(var(--primary-400));
	margin-bottom: 0.75rem;
}
.datumText {
	font-weight: 400;
	font-size: 1rem;
}

.datumCountdown {
	display: flex;
	flex-flow: row nowrap;
	gap: 1rem;
}
.countdownTime {
	font-weight: 500;
	font-size: 1rem;
	small {
		font-weight: 400;
		font-size: 0.75rem;
		color: rgb(var(--primary-400));
		display: block;
		text-transform: capitalize;
	}
}

.navbar {
	margin-top: 6.5rem;
	display: flex;
	flex-flow: row nowrap;
	gap: 2.25rem;
}
.navItem {
	height: 2.625rem;
	padding: 0 1rem;
	border-radius: 0.5rem;
	font-weight: 400;
	font-size: 1rem;
	cursor: pointer;
	transition: color 0.16s;
	&:hover {
		color: rgb(var(--primary-200));
	}
	&.active {
		background: rgb(var(--purple-accent));
		background: -moz-linear-gradient(
			180deg,
			rgb(var(--purple-accent-300)) -25%,
			rgb(var(--purple-accent-500)) 125%
		);
		background: -webkit-linear-gradient(
			180deg,
			rgb(var(--purple-accent-300)) -25%,
			rgb(var(--purple-accent-500)) 125%
		);
		background: linear-gradient(
			180deg,
			rgb(var(--purple-accent-300)) -25%,
			rgb(var(--purple-accent-500)) 125%
		);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{rgb(var(--purple-accent-300))}",endColorstr="#{rgb(var(--purple-accent-500))}",GradientType=1);
		-webkit-box-shadow: 0 0 2rem -0.438rem rgba(var(--purple-accent-300), 0.8);
		box-shadow: 0 0 2rem -0.438rem rgba(var(--purple-accent-300), 0.8);
	}
}

.overview {
	margin-top: 5rem;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
}
.overviewContent {
	flex: 1 0 0;
}
.description {
	margin-top: 1.5rem;
	font-weight: 400;
	font-size: 1rem;
	color: rgb(var(--primary-400));
	line-height: 200%;
}
.descriptionNotFound {
	font-weight: 400;
	font-size: 1.25rem;
	color: rgb(var(--primary-100));
}

.overviewSidebar {
	order: 2;
	margin-left: 2.75rem;
	width: 50%;
	max-width: 23.625rem;
	background-color: rgb(var(--primary-700));
	border-radius: 1rem;
	padding: 1.375rem 1.5rem;
}
.sidebarDetail {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	& + & {
		margin-top: 1.5rem;
	}
}
.sidebarTitle {
	margin-bottom: 0.125rem;
	font-weight: 400;
	font-size: 0.875rem;
	color: rgb(var(--primary-400));
}
.sidebarText {
	font-weight: 400;
	font-size: 1rem;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	transition: color 0.16s;
	span {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	> svg {
		margin-left: 0.75rem;
		width: 1rem;
		min-width: 1rem;
		height: 1rem;
		path {
			fill: rgb(var(--primary-400));
			transition: fill 0.16s;
		}
	}
}
a.sidebarText:hover svg path {
	fill: rgb(var(--primary));
}
.sidebarIconButton {
	margin-left: 0.75rem;
	width: 1rem;
	min-width: 1rem;
	height: 1rem;
	cursor: pointer;
	svg {
		width: 100%;
		height: 100%;
		display: block;
	}
	&:not(.metamaskIcon) {
		svg path {
			fill: rgb(var(--primary-400));
			transition: fill 0.16s;
		}
		&:hover svg path {
			fill: rgb(var(--primary));
		}
	}
	&.metamaskIcon {
		width: 1.25rem;
		min-width: 1.25rem;
		height: 1.25rem;
	}
}
.socialLink {
	@extend .sidebarText;
	font-size: 0.875rem;
	display: inline-block;
	svg {
		margin-left: 0.5rem;
		width: 0.813rem;
		height: 0.813rem;
	}
	& + & {
		margin-top: 0.25rem;
	}
}

.contractAddress {
	width: 100%;
}
span.contractAddressEnd {
	overflow: initial;
	text-overflow: initial;
}

.reportContainer {
	width: 100%;
	max-width: 28.75rem;
	padding: 1.75rem 2.75rem;
	border-radius: 1rem;
}
.reportTitle {
	margin-bottom: 1.25rem;
	font-weight: 500;
	font-size: 1.5rem;
}
.reportMessage {
	margin-bottom: 1.75rem;
	font-weight: 400;
	font-size: 0.875rem;
	color: rgb(var(--primary-400));
}
.reportLabel {
	margin-bottom: 0.375rem;
	margin-left: 0.125rem;
	font-weight: 500;
	font-size: 0.75rem;
	color: rgb(var(--primary-200));
	display: block;
}
.reportTextArea {
	width: 100%;
	height: 10rem;
	color: rgb(var(--primary));
	background: none;
	font-family: inherit;
	font-weight: 400;
	font-size: 0.875rem;
	border: 0.063rem solid rgb(var(--primary-600));
	border-radius: 0.5rem;
	padding: 0.625rem;
	cursor: text;
	resize: none;
	overflow-y: auto;
	transition: border-color 0.16s;
	@include scrollbar(0.313rem);
	&:focus {
		outline: none;
		border-color: rgb(var(--purple-accent));
	}
	&::placeholder {
		color: rgb(var(--primary-400));
	}
}
.reportActions {
	margin-top: 1.75rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.reportButton {
	width: 6.5rem;
	height: 2.625rem;
	padding: 0 1.375rem;
	font-weight: 400;
	font-size: 0.875rem;
	border-radius: 0.625rem;
	cursor: pointer;
	text-align: center;
	&:not(.reportPrimaryButton) {
		border: 0.063rem solid rgb(var(--primary-600));
		transition: background-color 0.24s;
		&:hover {
			background-color: rgb(var(--primary-600));
		}
	}
}
.reportPrimaryButton {
	@extend .reportButton;
	border: none;
	background-color: rgb(var(--purple-accent));
	transition: box-shadow 0.24s;
	&:hover {
		-webkit-box-shadow: 0 0 2rem -0.438rem rgba(var(--purple-accent), 0.8);
		box-shadow: 0 0 2rem -0.438rem rgba(var(--purple-accent), 0.8);
	}
}
