@use 'project' as p;

.container {
	@include p.container;
	min-width: 11.25rem;
	position: relative;
	overflow: hidden;
}

.content {
	max-width: 11.5rem;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}

.image {
	@include p.image;
	margin: 0 auto;
	z-index: 1;
}

.nameContainer {
	@include p.nameContainer;
	margin-top: 1.25rem;
}
.name {
	@include p.name;
}
.symbol {
	@include p.symbol;
}
.author {
	@include p.author;
}

.tags {
	@include p.tags;
	margin-top: 0.625rem;
	max-height: 4.375rem;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-flow: row wrap;
	&::after {
		content: '';
		width: 100%;
		height: 1.25rem;
		position: absolute;
		top: 3.125rem;
		left: 0;
		background: linear-gradient(transparent, rgb(var(--primary-700)));
	}
}
.tag {
	@include p.tag;
}

.price {
	@include p.price;
	margin-top: 0.625rem;
	word-break: break-all;
}

.likes {
	@include p.likes;
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
}
