@use "project" as *;

.container {
	@extend .container;
	position: relative;
	overflow: hidden;
}

.content {
	@extend .content;
	max-width: 11.5rem;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}

.image {
	@extend .image;
	margin: 0 auto;
	z-index: 1;
}

.nameContainer {
	@extend .nameContainer;
	margin-top: 1.25rem;
}
.name {
	@extend .name;
}
.symbol {
	@extend .symbol;
}
.author {
	@extend .author;
}

.tags {
	@extend .tags;
	margin-top: 0.625rem;
	max-height: 4.375rem;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-flow: row wrap;
	&::after {
		content: '';
		width: 100%;
		height: 1.25rem;
		position: absolute;
		top: 3.125rem;
		left: 0;
		background: linear-gradient(transparent, rgb(var(--primary-700)));
	}
}
.tag {
	@extend .tag;
}

.price {
	@extend .price;
	margin-top: 0.625rem;
	word-break: break-all;
}

.likes {
	@extend .likes;
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
}
