@use 'project' as p;

.container {
	@include p.container;
	display: flex;
	flex-flow: row nowrap;
	& + & {
		margin-top: 1.25rem;
	}
}

.image {
	@include p.image;
	margin-right: 1.25rem;
}

.content {
	flex: 1 0 0;
	overflow: hidden;
}

.upperRow,
.lowerRow {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.upperRow {
	align-items: flex-start;
}
.lowerRow {
	align-items: flex-end;
}

.info {
	overflow: hidden;
}
.nameContainer {
	@include p.nameContainer;
}
.name {
	@include p.name;
	font-size: 1.25rem;
}
.symbol {
	@include p.symbol;
	margin-right: 0.625rem;
	span {
		font-size: 0.875rem;
	}
}
.author {
	@include p.author;
}

.tags {
	@include p.tags;
	margin-top: 0.375rem;
	margin-right: 0.625rem;
	flex-flow: row nowrap;
	flex: 1 0 0;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	&::after {
		content: '';
		width: 3.125rem;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background: linear-gradient(
			90deg,
			transparent,
			rgb(var(--primary-700))
		);
	}
}
.tag {
	@include p.tag;
}

.price {
	@include p.price;
	font-size: 1.125rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.likes {
	@include p.likes;
}
