@use 'constants' as *;

.container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;
}

.title {
	font-weight: 500;
	font-size: 2.25rem;
	color: rgb(var(--primary-50));
}

.message {
	@include text;
	margin-top: 1.75rem;
    max-width: 31.125rem;
    .link {
        color: rgb(var(--purple-accent));
        cursor: pointer;
    }
}

.actions {
	margin-top: 2.625rem;
}

.button {
	@include button;
}
.primaryButton {
	@include primaryButton;
}
