@use '../constants' as *;
@use 'index.module';

.container {
	$resizeDuration: 0.1s;
	width: 100%;
	max-width: 24rem;
	min-height: 25.25rem;
	padding: 1.75rem 2.75rem;
	border-radius: 1rem;
	position: relative;
	transition: transform $resizeDuration, max-width $resizeDuration,
		min-height $resizeDuration;
}
.registerContainer {
	min-height: 39.875rem;
	$resizeDuration: 0.1s;
	transition: transform $resizeDuration, max-width $resizeDuration,
		min-height $resizeDuration;

	.title {
		margin-top: 0.375rem;
	}
}

.closeButton {
	@include index.closeButton;
}

.subTitle {
	margin-top: 0.375rem;
	font-weight: 400;
	font-size: 0.875rem;
	color: rgb(var(--primary-400));
	text-align: center;
	button {
		color: rgb(var(--primary-50));
		cursor: pointer;
	}
}
.title {
	margin: 0.5rem 0 1.75rem;
	font-weight: 400;
	font-size: 1.5rem;
	text-align: center;
}

.inputGroup {
	@include inputGroup;
}
.label {
	@include label;
	position: relative;
	left: 0.125rem;
}
.textbox {
	@include textbox;
	padding: 0 0.25rem 0 0.625rem;
}
.error {
	@include error;
	font-size: 0.8125rem;
	svg {
		width: 0.75rem;
		height: 0.75rem;
	}
}
.passwordInput {
	@extend .textbox;
	padding-right: 2rem;
}
.passwordEye {
	$size: 1.125rem;
	width: $size;
	height: $size;
	margin-left: -1.75rem;
	cursor: pointer;
	position: relative;
	top: 0.312rem;
	path {
		fill: rgb(var(--primary-400));
		transition: fill 0.16s;
	}
	&:focus path {
		fill: rgb(var(--primary-200));
	}
	&:hover path {
		fill: rgb(var(--primary-100));
	}
}

.forgotPassword {
	margin-top: 0.563rem;
	font-weight: 400;
	font-size: 0.75rem;
	color: rgb(var(--primary-400));
	cursor: pointer;
	transition: color 0.24s;
	&:focus {
		text-decoration: underline;
	}
	&:hover {
		color: rgb(var(--primary-100));
	}
}

.actions {
	margin-top: 1.625rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

$buttonWidth: 6.75rem;
.button {
	@include button;
	min-width: $buttonWidth;
}
.primaryButton {
	@include primaryButton;
	min-width: $buttonWidth;
	svg {
		width: 1.125rem;
		height: 1.125rem;
		margin-right: 0.5rem;
	}
}

.statusContainer {
	min-height: auto;
	max-width: 27rem;
}

.successContainer {
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.successIcon {
	$size: 2.625rem;
	$svgSize: 1.25rem;
	width: $size;
	height: $size;
	border-radius: 50%;
	margin-bottom: $size;
	background-color: #75e49f;
	display: flex;
	justify-content: center;
	align-items: center;
	svg {
		width: $svgSize;
		height: $svgSize;
		path {
			fill: rgb(var(--background));
		}
	}
}

.successText {
	margin-bottom: 3rem;
	font-weight: 400;
	font-size: 0.875rem;
	color: rgb(var(--primary-400));
	.link {
		color: rgb(var(--purple-accent));
		cursor: pointer;
	}
}
